* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 85, 85);
    position: relative;
}

.headings {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.headings h1 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 20px;
    display: flex;
    width: 300px;
    height: 80px;
}

.headings .first {
    justify-content: flex-end;
    background-color: rgb(88, 85, 85);
    color: white;
}

.headings .second {
    align-items: flex-end;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container .input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  /////////////////////////// INPUT FIELDS UNDER THE TITLE /////////////////////////  */
/* text fields */
.input-fields .text-input {
    display: flex;
    margin-bottom: 30px;
}

.input-fields .text-input input {
    text-align: center;
    margin-right: 0;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(88, 85, 85);
    display: block;
    transition: border 0.5s;
}

.input-fields .text-input input:focus {
    outline: none;
    border-bottom: 1px solid magenta;
}

.input-fields .text-input input:hover {
    border-bottom: 1px solid magenta;
}

/* image upload button and submit */
.input-fields .file-input {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* hide standart formatting of file input */
#file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-upload-btn {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px 15px;
    border-bottom: 1px solid white;
    transition: border 0.5s;
}

#file-upload-btn:hover,
.input-fields .file-input button:hover {
    border-bottom: 1px solid magenta;
    cursor: pointer;
}

#file-upload:focus + #file-upload-btn {
    border-bottom: 1px solid magenta;
}

.input-fields .file-input button {
    padding: 5px 50px;
    display: inline-block;
    border: none;
    background-color: white;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(88, 85, 85);
    transition: border 0.5s;
}

.input-fields .file-input button:focus {
    outline: none;
    border-bottom: 1px solid magenta;
}

.input-fields .file-input button:active {
    outline: none;
    border: none;
    color: magenta;
}


/*  //////////// CARDS /////////////////// CARDS ///////////////////// */

.cards-container {
    padding: 50px 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 30px;
}

.card {
    list-style: none;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.card .img-container {
    position: absolute;
    top: 0;
    background-color: lightgrey;
    height: 100%;
}

.card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card .title-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(104, 97, 97, 0.6);
    color: white;
    text-align: center;
    padding: 10px 15px;
}

/* ////////////////////////// IMAGE INFORMATION COMPONENT ///////////////////////// */

#img-information-component {
    color: magenta;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
}

#close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

#img-information-component img {
    width: 200px;
}

#img-information-component .nav {
    font-size: 50px;
    cursor: pointer;
}

/* ________________________________________________________________________________________________ */



@media screen and (max-width: 680px) {
    
    .cards-container {
        grid-template-columns: 1fr;
    }

}