* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 85, 85);
    position: relative;
}

.headings {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 70px;
    margin-bottom: 50px;
}

.headings h1 {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 80px;
}

.headings img {
    width: 55px;
    position: absolute;
    top: 56px;
    opacity: 0.9;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container .input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  /////////////////////////// INPUT FIELDS UNDER THE TITLE /////////////////////////  */
/* text fields */
.input-fields .text-input {
    display: flex;
    margin-bottom: 30px;
}

.input-fields .text-input input {
    text-align: center;
    margin-right: 0;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(88, 85, 85);
    display: block;
    transition: border 0.3s;
}

.input-fields .text-input input:focus {
    outline: none;
    border-bottom: 1px solid magenta;
}

.input-fields .text-input input:hover {
    border-bottom: 1px solid magenta;
}

/* ////////////////////image upload button and submit ///////////////////*/
.input-fields .file-input {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* hide standart formatting of file input */
#file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-upload-btn {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px 15px;
    border-bottom: 1px solid white;
    transition: color 0.3s;
}

#file-upload-btn:hover,
.input-fields .file-input button:hover {
    color: magenta;
    cursor: pointer;
}

#file-upload:focus + #file-upload-btn {
    color: magenta;
}

.input-fields .file-input button {
    padding: 5px 50px;
    display: inline-block;
    border: none;
    background-color: white;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(88, 85, 85);
    transition: color 0.3s;
}

.input-fields .file-input button:focus {
    outline: none;
    color: magenta;
}

.input-fields .file-input button:active {
    outline: none;
    border: none;
    color: rgba(88, 85, 85, 0.7);
}


/*  //////////// CARDS /////////////////// CARDS ///////////////////// */

.cards-container {
    padding: 50px 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 15px;
}

.card {
    list-style: none;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.card .img-container {
    position: absolute;
    top: 0;
    background-color: lightgrey;
    height: 100%;
}

.card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#title-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.8);
    color: black;
    opacity: 0;
    transition: opacity 0.5s;
}

#title-container p {
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 4px;
    text-align: end;
    margin-left: 15px;
}

#paw {
    width: 17px;
}

/* ////////////////////////// IMAGE INFORMATION COMPONENT ///////////////////////// */

#img-information-component {
    width: 100%;
    height: 100%;
    color: rgb(88, 85, 85);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#img-information-component .image-modal {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    width: 800px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.information-container {
    background-color: #fff;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

#close {
    cursor: pointer;
    position: absolute;
    padding: 5px;
    font-size: 20px;
    font-weight: normal;
    top: 0;
    right: 0;
    transition: color 0.3s;
}

#close:hover {
    color: magenta;
}

#close:active {
    color: rgba(88, 85, 85, 0.7);
}

.information-container .left-container {
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.information-container .left-container .bigger-img-container {
    width: 400px;
    height: 500px;
    overflow: hidden;
}

.information-container .left-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#delete-btn {
    cursor: pointer;
    letter-spacing: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
    transition: color 0.3s;
    background-color: #fff;
    width: 100%;
}

#delete-btn:hover {
    color: magenta;
}

#delete-btn:active {
    color: rgba(88, 85, 85, 0.7);
}

/* ///////// modal - the right part with the comments //////////// */

.information-container .right-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.information-container .right-container p {
    line-height: 21px;
}

.information-container .right-container .uploaded-by {
    font-size: 12px;
    opacity: 0.6;
}

#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form input {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    letter-spacing: 0.5px;
    border: none;
    border-bottom: 1px solid rgb(88, 85, 85);
    transition: border 0.3s;
    font-size: 15px;
}

#comment-form input:hover,
#comment-form input:focus {
    outline: none;
    border-bottom: 1px solid magenta;
}

#comment-form button {
    margin-top: 10px;
    background-color: white;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(88, 85, 85);
    text-align: left;
    transition: color 0.3s;
}

#comment-form button:hover,
#comment-form button:focus {
    color: magenta;
    cursor: pointer;
    outline: none;
}

.information-container .comments-container {
    height: 200px;
    overflow: scroll;
    margin-top: 15px;
}

.information-container .comment {
    margin-bottom: 12px;
}

.information-container .comment-text {
    font-size: 14px;
}

.information-container .commenter {
    font-size: 12px;
    opacity: 0.6;
}


/* ////////// navigantion between individual images' modules /////// */

.image-modal .arrow {
    width: 30px;
    height: 30px;
}

.image-modal .nav {
    font-size: 50px;
    text-decoration: none;
    color: white;
    font-weight: 50;
    cursor: pointer;
    transition: color 0.3s;
}

.image-modal .nav:hover,
.image-modal .nav:focus {
    color: rgba(225, 225, 225, 0.8);
    outline: none;
}

.image-modal .nav:active {
    color: rgba(225, 225, 225, 0.3);
}

/* ________________________________________________________________________________________________ */


@media screen and (max-width: 680px) {

    .container .text-input {
        flex-direction: column;
        align-items: center;
    }

    .container .file-input {
        flex-direction: column;
        align-items: center;
    }
    
    .cards-container {
        grid-template-columns: 1fr;
    }


}